.navbar {
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25vh;
    background-color:rgb(16 179 181);
    color:white;
  }
button{
  cursor: pointer;
}
.login-btn {
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: rgb(16 179 181);
    font-size: 16px;
    border:0;
    font-weight: bold;
  }
.logo{
    font-size: 2rem;
    font-weight: 800;
}
  